<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>post</title>
       
    </head>
    <body>
        <CENTER><h1>FORM</h1>
            <form method="POST">
                
                <label for="">title:</label>
                <input type="text" name="title"><BR>
                <label for="">content:</label>
                <input type="text" name="content"><br>
                
                <label for="">slug:</label>
                <input type="text" name="slug"><br>
                
                <button>Submit</button>
            </form>
        </CENTER>
        
    </body>
</html>