<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Registration</title>
       
    </head>
    <body>
        <CENTER><h1>FORM</h1>
            <form method="POST">
                <label for="">username:</label>
                <input type="text" name="username"><BR>
                <label for="">mobile:</label>
                <input type="text" name="mobile"><BR>
                <label for="">email:</label>
                <input type="text" name="email"><br>
                <label for="">address:</label>
                <input type="text" name="address"><br>
                <label for="">password:</label>
                <input type="text" name="password"><br>
                <button>Submit</button>
            </form>
        </CENTER>
        
    </body>
</html>